/* Gutenberg blocks require their CSS 
   to be on a separate stylesheet to
   avoid conflicts on the admin panel. */
   
/* 
 * These styles apply to the admin panel of Wordpress.
 * It merges with block styles on compilation.
 * It can also style related plugins.
*/

/* This stylesheet can also be used
 * to override unwanted theme styles that might 
 * be applied to elements on the admin panel. 
*/

@use "sass:meta" as meta;

// Brings abstracts with the correct font path for the admin.
// Setting the font paths allows blocks to display declared theme fonts on the editor.
@use "abstracts" as a with (
  $font-path: "../fonts/"
);

// Bringing block specific styles.
@include a.block-styles {
  @include meta.load-css("components");
  @include meta.load-css("blocks");
}

body.wp-admin {
  padding-top: 0;
}

#post-title-0 {
  font-family: a.$primary-font;
}

.wp-block-heading {
  @include a.post-heading-defaults(a.$secondary-font);
}

.block-editor__typewriter {
  font-family: a.$secondary-font;
}
