/* Gutenberg blocks require their CSS 
   to be on a separate stylesheet to
   avoid conflicts on the admin panel. */

/* This stylesheet overrides theme styles
   that might be applied to elements on the admin panel. */

/* 
 * These styles apply to the admin panel of Wordpress.
 * It merges with block styles on compilation.
 * It can also style related plugins.
*/
@import 'mixins';
@import 'media_queries';
@import 'palette';

// Blocks will display fonts on the editor.
@include set-font-path('admin');
@import 'fonts';

@include block-styles {
  @import 'temp';
}

body.wp-admin {
  padding-top: 0;
}

.wp-toolbar {
  font-size: 10px;
}

#post-title-0 {
  font-family: $primary-font;
}

.wp-block-heading {
  @include post-heading-defaults;
}
.wp-block-paragraph, .editor-block-list__block {
  font-family: $secondary-font;
  font-size: 2rem;
}
