@use "abstracts" as a;

html {
  font-size: 10px;
}

html, body {
  width: 100%;
  height: 100%;
}

@include a.post-heading-defaults(a.$secondary-font);

p, a, ol, li {
  font-family: a.$primary-font;
  font-size: 1.6rem;
}