// Used to scope block styles to its own class.
@mixin block-styles {
  .acf-block-component {
    @content;
  }
}

// Include a font file into theme style.
@mixin font($name, $path, $weight: 400, $style: normal, $format: 'truetype',) {
  @font-face {
    font-family: $name;
    src: url($path) format($format);
    font-style: $style;
    font-weight: $weight;
  }
}

// Sets paths for compiling for blocks or front end.
$font-paths: (
    base: 'assets/fonts/',
    admin: '../fonts/'
);

/* Sets font declarations and the paths in which they are declared.
 * This helps setting paths for rendering fonts both on blocks and
 * the front end of the site.
*/
@mixin set-font-path($path: map-get($font-paths, 'base')) {
  @if map-has-key($font-paths, $path) {
    $offside-path: map-get($font-paths, $path) + 'offside/' !global;
    $karla-path: map-get($font-paths, $path) + 'karla/' !global;
  }
}

/* Sets post text defaults to be used on admin and post stylesheets. */
@mixin post-heading-defaults($size: 2.6rem, $margin-top-bottom: 3rem) {
  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    font-family: $secondary-font;
    font-size: $size;
    color: $black;
    margin: $margin-top-bottom 0; 
   }

   h3 { font-size: $size - .2; }
   h3 { font-size: $size - .4; }
   h4 { font-size: $size - .6; }
   h5 { font-size: $size - .8; }
   h6 { font-size: $size - 1; }
}
