{# Each component uses a block and are developed using the Twig template engine. #}
{# Twig docs: https://twig.symfony.com/ #}
{% block example %}
  <section class="example">
    <h1>hozokit</h1>
    <p>An example component.</p>
  </section>
{% endblock %}