@charset "UTF-8";
/* Fonts 
 * The font names being used in the theme.
*/
/* Include a font file into theme style. */
/* Sets post text defaults to be used on admin and post stylesheets. */
/* Makes component and block styles available
 * to the Gutenberg Editor without leaking into the admin page.
 * This second mixin is required in order for SASS to parse all styles correctly.
*/
/* 
 * Define any fonts that are being used locally here.
 * 1. Do not define variables that are used in style blocks, please use _variables.scss for that purpose.
 * 2. The contents of this file can be removed if an alternative method of requiring fonts is being used, e.g Google Fonts, Adobe Fonts 
*/
@font-face {
  font-family: "Offside";
  src: url("../fonts/offside/Offside-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/karla/Karla-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}
/* Colors used in the theme. */
/*
A set of mixings to aid the use of media queries.
Enmanuel Durán's approach as seen at:
https://dev.to/duranenmanuel/another-approach-to-media-queries-with-the-power-of-sass-3ghf
*/
/* Apply to devices with a higher screen than a phone */
/* Apply to devices with screen sizes smaller than a phone */
/* Apply to only phone devices */
/* Apply to devices in a range, in this case, between a phone and a tablet */
/*
 * Abstract partials are added here.
 * Feel free to extend this is needed (e.g helpers, variables, functions)
 */
/* Gutenberg blocks require their CSS 
   to be on a separate stylesheet to
   avoid conflicts on the admin panel. */
/* 
 * These styles apply to the admin panel of Wordpress.
 * It merges with block styles on compilation.
 * It can also style related plugins.
*/
/* This stylesheet can also be used
 * to override unwanted theme styles that might 
 * be applied to elements on the admin panel. 
*/
.acf-block-component {
  /* Fonts 
   * The font names being used in the theme.
  */
}
.acf-block-component p {
  color: red;
}
.acf-block-component .hozo-button {
  color: pink;
}
.acf-block-component .example h1 {
  font-family: "Karla", sans-serif;
  background: blueviolet;
  color: white;
}
.acf-block-component .example p {
  font-family: "Offside", sans-serif;
}
.acf-block-component .footer {
  font-family: "Karla", sans-serif;
}
.acf-block-component .header h2 a {
  font-family: "Offside", sans-serif;
  font-size: 2rem;
}
.acf-block-component .example-block {
  color: yellow;
}

body.wp-admin {
  padding-top: 0;
}

#post-title-0 {
  font-family: "Karla", sans-serif;
}

.wp-block-heading h1, .wp-block-heading h2, .wp-block-heading h3, .wp-block-heading h4, .wp-block-heading h5, .wp-block-heading h6 {
  text-transform: none;
  font-family: "Offside", sans-serif;
  font-size: 2.6rem;
  color: "#c1c1c1";
  margin: 3rem 0;
}
.wp-block-heading h3 {
  font-size: 2.4rem;
}
.wp-block-heading h3 {
  font-size: 2.2rem;
}
.wp-block-heading h4 {
  font-size: 2rem;
}
.wp-block-heading h5 {
  font-size: 1.8rem;
}
.wp-block-heading h6 {
  font-size: 1.6rem;
}

.block-editor__typewriter {
  font-family: "Offside", sans-serif;
}