{% extends "base.twig" %}

{% block content %}
  <h2>This is index.twig</h2>
  <p>This content block is rendered inside base.twig, which allows the header and footer to be included as well.</p>

  <h3>Posts:</h3>
  <ol>
    {% for post in posts %}
    <li><a href="{{post.link}}">{{post.title}}</a></li>
    {% endfor %}
  </ol>
{% endblock %}
