{% extends "base.twig" %}
{% block content %}
  <article class="{{ "post-type-" ~ post.type }}">
    <section class="{{ "post-type-" ~ post.type }}">
    {{ post.content }}
    </section>
  </article>
{% endblock %}